@charset "UTF-8";
// Project DeLorean
// SCSS Document
// This document contains all styles for the containers (divs, navs, mains, etc.)

nav {
	background-color: $nav-bkg-color;
	border-bottom-left-radius: $radius-container;
	border-bottom-right-radius: $radius-container;
	filter: drop-shadow(0px 0px 5px $black-shadow);
	padding-left: 10px;
	padding-right: 10px;

	ul {
		margin-left: auto;
	}
}

main.content {
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

// Section for Individual/Organizer View buttons
.view-toggle {
	padding: 15px 0 20px 5px;
	color: $black;
}

.btn {
	background: $btn-bkg-color;
	border-radius: 0;
	border-color: $btn-border-color;
	color: $black;
	-webkit-transition: linear 0.2s;
	-moz-transition: linear 0.2s;
}

.btn:hover {
	color: $black;
	filter: drop-shadow(0px 3px 3px $black-shadow);
	-webkit-transition: linear 0.2s;
	-moz-transition: linear 0.2s;
}

// Form items (in order of DOM hierarchy)
.main-form {
	.row {
		margin: 10px 0 0 0;
		padding: 0;
	}
}

.grid-item {
	padding: 0;
}

// Order is important. form-result overrides styles in form-group, and graphs contain both classes
.form-group {
	height: auto;
	width: 94%;
	background: $input-bkg-color;
	border: none;
	border-radius: 20px;
	color: $black;
	margin-bottom: 20px;
	padding: 12px;
	filter: drop-shadow(0px 2px 4px $black-shadow);

	label {
		font-size: $h2-font-size;
	}
}

.form-input {
	// Nothing here yet
}

.form-result {
	background: $nav-bkg-color;
	color: $black;
	width: 100%;
}

// Style for the Map input
#map {
	width: 100%;
}

// Style for the Multiple Choice Input
#mc {
	min-height: 500px;
}

// Style for the Peak Shaving Graph shown on large displays (in the center column)
#peak-lg {
	width: 94%;
}