@charset "UTF-8";
// Project DeLorean
// SCSS Document
// This document contains all custom variable names

// Import all Bootstrap styles

// Global Colors
// -- Theme
$black:			rgb(0, 0, 0);
$black-shadow:	rgba(0, 0, 0, 0.75);
$grey:			rgb(245, 245, 245);
$green:			rgb(57, 181, 74);
$nav-bkg-color:	rgb(102, 174, 226);
$orange: 		rgb(251, 196, 15);
$orange-dark: 	rgb(164, 123, 0);
$white:			rgb(255, 255, 255);

// Global Fonts
// -- Theme
$font-family-sans-serif: 	soleil, sans-serif;
$h2-font-size: 				26px;
$h4-font-size:				22px;

//Body
$body-bg: 		rgb(245, 245, 245);
$body-color: 	$black;

// Borders
$radius-container: 20px;

// Navigation
$navbar-dark-color:					$white;
$navbar-dark-hover-color:			$grey;
$navbar-dark-active-color:			$orange;
$navbar-dark-disabled-color:		$orange-dark;
$navbar-dark-toggler-border-color:	$orange;

// Interactives
// Input = the widget
// Inter = the interactive things the user can use
$inter-bkg-color: 		$green;
$input-bkg-color:		rgb(220, 220, 220);
$btn-bkg-color: 		$body-bg;
$btn-border-color:		rgb(190, 190, 190);
