@charset "UTF-8";
// Project DeLorean
// SCSS Document
// This document contains all styles for form elements.

// Styles for the slider inputs
.slider {
	-webkit-appearance: none;
	width: 90%;
	height: 5px;
	outline: none;
	opacity: 0.7;
	margin: 30px 0 0 5%;
	padding: 1px;
}

.slider:focus {
	-webkit-appearance: none;
	outline: none;
	opacity: 0.7;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	background: $green;
	cursor: pointer;
	border-radius: 50%;
}

.slider::-moz-range-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	background: $green;
	cursor: pointer;
	border-radius: 50%;
}

// Styles for the text-entry fields (bound to the sliders)
.input-text {
	width: auto;
	text-align: center;
	margin-left: 27%;
	color: $black;
}

.input-text:focus {
	color: $black;
}

// Labels for the sliders
.align-left {
	margin-left: 10px;
	text-align: left;
	float: left;
}

.align-right {
	margin-right: 10px;
	text-align: right;
	float: right;
}

// Styles for the multiple choice input
.multi-choice {
	//Nothing here yet
}

.option {
	height: 110px;
	width: 100%;
	background: $white;
	border-radius: 10px;
	margin-bottom: 10px;
	padding: 5px;
	cursor: pointer;
	-webkit-transition: linear 0.2s;
	-moz-transition: linear 0.2s;

	img {
		max-height: 100px;
		width: auto;
		min-width: 100px;
		line-height: 100px;
		background: $white;
		border-color: $white;
	}

	h4 {
		text-align: right;
		float: right;
		line-height: 100px;
	}

}

.option:hover {
	filter: drop-shadow(0px 3px 3px $black-shadow);
	-webkit-transition: linear 0.2s;
	-moz-transition: linear 0.2s;
}

// Styles for the select menu (used in the Vehicle Select menu)
.selected {
	background-color: #4ab558;
	border-color: transparent;
	filter: drop-shadow(0px 3px 3px $black-shadow);
}

select.form-select {
	margin-bottom: 10px;
	cursor: pointer;
	color: $black;
}

select.form-select:focus {
	color: $black;
}