@charset "UTF-8";
// Project DeLorean
// SCSS Document
// This document contains all styles for the containers (divs, navs, mains, etc.)

// Navigation container
nav.navbar {
	background-color: $nav-bkg-color;
	border-bottom: $nav-border;
	border-bottom-left-radius: $radius-container;
	border-bottom-right-radius: $radius-container;
	filter: drop-shadow(0px 0px 5px $black-shadow);
	padding: 0 10px;

	// The part of the navigation that collapses on mobile
	.navbar-collapse {
		height: $brand-img-height + 10;

		// The actual navigation menu
		ul.navbar-nav {
			height: 100%;

			// Wrapper for the clickable links
			.nav-item {
				height: 100%;
				line-height: 3rem;
				border-right: solid $btn-border-color 1px;
			}

			.nav-item:last-child {
				border-right: none;
			}

			// The clickable links
			.nav-link {
				background-color: $nav-link-bkg-color;
				color: $nav-link-color;
				height: 100%;
				padding: 8px 15px;
			}

			.nav-link:hover {
				background-color: $nav-link-hover;
			}

			// Styling for the tab if we are on that page
			.selected-nav {
				background-color: $green;
			}

			.selected-nav:hover {
				background-color: $green;
			}
		}
	}
}

.navbar-brand-img {
	height: $brand-img-height;
	width: auto;
	margin-left: 10px;
}

// Switches for Light mode and Dark mode
.style-switch {
	margin-left: auto;
	margin-top: 5px;
}

main.content {
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

// Styles used on the About Page
#about {

	.profile-pics {
		margin-bottom: 20px;

		div {
			margin-top: 20px;

			h6:first-of-type {
				margin-top: 4px;
				margin-bottom: 2px;
			}

			.profile {
				border-radius: 50%;
				display: inline;
			}
		}
	}

	#email-form {
		input, textarea {
			width: 100%;
			text-align: left;
			margin-bottom: 1.5rem;
		}
	}
}

// Style used on User Guide Page
#user-guide {
	padding-bottom: 40px;

	.ref-cards {
		padding-top: 2rem;
		padding-bottom: 2rem;
		border-top: solid 1px $grey;

		article {
			margin-left: 2rem;
			line-height: 1.7rem;
		}
	}

	.ref-cards:first-of-type {
		border-top: none;
	}
}

// Section for Individual/Organizer View buttons
.view-toggle {
	padding: 15px 0 20px 5px;
	color: $body-color;
}

.btn {
	background: $input-bkg-color;
	border-color: $btn-border-color;
	color: $body-color;
	-webkit-transition: linear 0.2s;
	-moz-transition: linear 0.2s;
}

.btn:hover {
	color: $body-color;
	filter: drop-shadow(0px 3px 3px $black-shadow);
	-webkit-transition: linear 0.2s;
	-moz-transition: linear 0.2s;
}

.btn-action:active {
	background-color: $green;
}

// Form items (in order of DOM hierarchy)
.main-form {
	.row {
		margin: 10px 0 0 0;
		padding: 0;
	}
}

.grid-item {
	padding: 0;
}

// Order is important. form-result overrides styles in form-group, and graphs contain both classes
.form-group {
	height: auto;
	width: 94%;
	background: $input-bkg-color;
	border: none;
	border-radius: $radius-container;
	color: $body-color;
	margin-bottom: 20px;
	padding: 12px;
	filter: drop-shadow(0px 2px 4px $black-shadow);

	label {
		font-size: $h2-font-size;
	}

	label.small-label {
		font-size: $h6-font-size;
	}

	.btn-action {
		margin-bottom: 10px;
		margin-left: 5px;
	}
}

.form-input {
	// Nothing here yet
}

.form-result {
	background: $blue;
	color: $body-color;
	width: 100%;
}

// Wrapper for checkbox input elements
.checkbox-wrapper {
	label {
		margin-bottom: 5px;
		-webkit-transition: linear 0.2s;
		-moz-transition: linear 0.2s;
	}
	label:after {
		content: "off";
	}

	label:hover {
		cursor: pointer;
		filter: drop-shadow(0px 3px 3px $black-shadow);
		-webkit-transition: linear 0.2s;
		-moz-transition: linear 0.2s;
	}

	input {
		display: none;
	}

	input:checked + label {
		filter: drop-shadow(0px 3px 3px $black-shadow);
		background-color: $green;
		border-color: $green;
		color: $body-bg;
	}
	input:checked + label:after {
		content: "on";
	}
}

// Style for the Map input
#map {
	width: 100%;
}

#zip {
	margin: 10px 0px 20px 0px;
}

#map-container {
	width: 99%;
	height: 500px;

}

.mapboxgl-ctrl-attrib-inner {
	display: none !important;
}

// Style for the Multiple Choice Input
#mc {
	min-height: 500px;
}

// Style for the Peak Shaving Graph shown on large displays (in the center column)
#peak-lg {
	width: 94%;
}

footer {
	background-color: $footer-bkg-color;
	color: $footer-color;
	margin-bottom: -20px;
	padding: 15px;

	address {
		width: 100%;
		text-align: center;
	}
}