@charset "UTF-8";
// Project DeLorean
// SCSS Document
// This document contains all custom variable names

// Import all Bootstrap styles

// Global Colors
// -- Theme
$black:			#0a0a0a;
$black-shadow:	rgba(100, 100, 100, 0.5); // Not actually black here, because of dark mode
$blue:			rgb(67, 121, 179);
$grey: 			rgb(35, 35, 35);
$green: 		rgb(11, 132, 27);
$orange: 		rgb(251, 196, 15);
$orange-dark: 	rgb(164, 123, 0);
$white:			rgb(225, 225, 225);

// Global Fonts
// -- Theme
$font-family-sans-serif: 	soleil, sans-serif;
$h2-font-size: 				26px;
$h4-font-size:				22px;

//Body
$body-bg: 		$black;
$body-color: 	$white;

// Borders
$radius-container: 10px;

// Navigation
$brand-img-height:					55px;
$nav-bkg-color:						rgb(35, 35, 35);
$nav-link-color:					$body-color;
$nav-link-bkg-color:				$grey;
$nav-link-hover: 					rgb(51, 51, 51);

$icon-height:						25px;
$bar-bg:							#aaa;
$bar-height:						4px;
$bar-width:							40px;

// Footer
$footer-bkg-color:					rgb(35, 35, 35);
$footer-color:						$body-color;

// Interactives
// Input = the widget
// Inter = the interactive things the user can use
$inter-bkg-color: 		$green;
$input-bkg-color:		rgb(35, 35, 35);
$btn-bkg-color: 		$body-bg;
$btn-border-color:		rgb(65, 65, 65);

$input-bg: rgb(25, 25, 25);
$input-color: $white;
$form-select-color: $white;
$form-text-color: $white;
$input-border-color: rgb(45, 45, 45);

input[type="range"].form-control, .ui-widget-content {
	background-color: $white;
}
