@charset "UTF-8";
// Project DeLorean
// SCSS Document
// This document contains all custom variable names

// Import all Bootstrap styles

// Global Colors
// -- Theme
$black:			#0a0a0a;
$black-shadow:	rgba(0, 0, 0, 0.75);
$blue: 			rgb(139, 199, 241);
$grey:			rgb(220, 220, 220);
$green: 		rgb(116, 193, 125);
$orange: 		rgb(251, 196, 15);
$orange-dark: 	rgb(164, 123, 0);
$white:			rgb(245, 245, 245);

// Global Fonts
// -- Theme
$font-family-sans-serif: 	soleil, sans-serif;
$h2-font-size: 				26px;
$h4-font-size:				22px;

//Body
$body-bg: 		$white;
$body-color: 	$black;

// Borders
$radius-container: 10px;

// Navigation
$brand-img-height:					55px;
$nav-bkg-color:						$body-bg;
$nav-link-color:					$body-color;
$nav-link-bkg-color:				$grey;
$nav-link-hover:					#ccc;

$icon-height:						25px;
$bar-bg:							#444;
$bar-height:						4px;
$bar-width:							40px;

// Footer
$footer-bkg-color:					$body-color;
$footer-color:						$body-bg;

// Interactives
// Input = the widget
// Inter = the interactive things the user can use
$inter-bkg-color: 		$green;
$input-bkg-color:		rgb(220, 220, 220);
$btn-bkg-color: 		$body-bg;
$btn-border-color:		rgb(190, 190, 190);
