@charset "UTF-8";
// SCSS Document
// This document contains the styles for the Homepage

//html, body {
//	height: 100%;
//}
//
//body {
//	margin: 0;
//}

nav.header-expanded {
	background-color: rgba($body-bg, 0.6);

	img {
		height: 70px;
	}

	#collapsibleNavbar, #collapsibleNavbar>* {
		display: none !important;
	}
}

#landing {
	padding: 0;
	margin-right: 0;
	margin-left: -17px;
}

#titleVideo {
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}

.title {
	position: absolute;
	left: 30px;
	top: 38%;
	max-width: 40rem;
	padding: 16px;
	background: transparent;
}

.header-btn {
	background-color: $green;
	margin-right: 10px;
}

.banner {
	max-width: 58rem;
	line-height: 4rem;
	margin-top: 50px;
}

.description-grid {
	margin-top: 50px;
	margin-bottom: 50px;

	.grid-item {
		margin-left: 7%;

		.form-group {
			h4 {
				text-align: center;
			}

			p {
				margin-top: 35px;
				margin-bottom: 35px;
				padding-left: 20px;
				padding-right: 20px;
			}
		}
	}
}