@charset "UTF-8";
// Project DeLorean
// SCSS Document
// Stylesheet with color changes if user wants to enable dark mode

// Import variables before Bootstrap
@import "custom-dark";

// Import all Bootstrap Styles
@import "../../node_modules/bootstrap/scss/bootstrap";

// Load custom styles after Bootstrap
@import "containers";
@import "form";
@import "graphs";

// Load media query stylesheets
@import "small";

// Misc styles
.screen-reader-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}