<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" initial-scale="1" />

    <!-- For favicon -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/icons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/icons/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/images/icons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/images/icons/favicon-16x16.png" sizes="16x16" />
    <meta name="application-name" content="DeLorean Energy"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="/images/icons/mstile-144x144.png" />

    <!-- Link to remote font -->
    <link rel="stylesheet" href="https://use.typekit.net/ahh6uys.css">

    <link href="sass/jquery-ui.min.css" rel="stylesheet" type="text/css" />

    <!-- All Bootstrap styles and icons are embedded in these stylesheets -->
    <link href="sass/style-<%= user_mode %>.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

    <!-- Import jQuery, PopperJS (For bootstrap effects), Bootstrap's own JS library, jQuery UI (local file -- not remote), and AJAX -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="scripts/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

    <!-- Import Mapbox API -->
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>

    <!-- Import d3JS files -->
    <script src="https://d3js.org/d3.v6.min.js" defer></script>
    <script src="https://d3js.org/d3-scale.v3.min.js" defer></script>
    <script src="https://d3js.org/d3-axis.v1.min.js" defer></script>

    <!-- Import js-Cookie files -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.mjs"></script>

    <!-- Our custom scripts. App = generic functionality -->
    <script src="scripts/app.js" defer></script>
    <script src="scripts/home.js" defer></script>

    <title>Vehicle-to-Grid Feasibility | Electric Car Profitability - DeLorean Energy</title>
</head>
<body>
<!-- Main Navigation -->
<!--================================================================================================================-->
<nav class="navbar fixed-top navbar-expand-md navbar-<%= user_mode %> justify-content-center header-expanded">
    <a class="screen-reader-only" href="#article">Skip to Content</a>
    <a class="navbar-brand align-items-center" href="/"><img id="navbar-brand" class="navbar-brand-img" src="images/logo_lg_<%= user_mode %>.png" alt="DeLorean Energy"/></a>

    <button class="navbar-toggler align-item" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="screen-reader-only">Toggle navigation</span>
        <span id="b1" class="bar"></span>
        <span id="b2" class="bar"></span>
        <span id="b3" class="bar"></span>
    </button>

    <div id="collapsibleNavbar" class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link selected-nav" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/project">Project</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
        </ul>
        <div class="style-switch">
            <% if(user_mode !== "dark") { %>
                <button class="btn selected" onclick="switchToLight(this);"><i class="bi bi-sun"></i></button>
                <button class="btn" onclick="switchToDark(this);"><i class="bi bi-moon"></i></button>
            <% } else { %>
                <button class="btn" onclick="switchToLight(this);"><i class="bi bi-sun"></i></button>
                <button class="btn selected" onclick="switchToDark(this);"><i class="bi bi-moon"></i></button>
            <% } %>
        </div>
    </div>
</nav>
<!-- Content (sr-only link jumps here) -->
<!--=================================================================================================================-->
<main id="landing" class="container-fluid content">

    <video autoplay muted loop id="titleVideo">
        <source src="images/title-1080.mp4" type="video/mp4">
    </video>
    <div class="title">
        <h1>Vehicle-to-Grid Feasibility Studies For a Greener Tomorrow</h1>
        <a class="btn header-btn" href="/what-is-v2g">Learn More</a><a class="btn header-btn" href="/project">Use the Calculator</a>
    </div>

    <div class="d-flex justify-content-center text-center">
        <h1 class="banner">DeLorean Energy allows you to find out if Vehicle-to-Grid is profitable for your community</h1>
    </div>

    <div class="row description-grid justify-content-center">
        <div class="grid-item col-sm-11 col-md-6 col-lg-5">
            <div class="form-group">
                <h4>What is Vehicle-to-Grid?</h4>
                <p>V2G uses bilateral EV charging to increase the reliability of the grid.<br>EV batteries both consume and produce power to the grid to ensure a safer, more resilient grid.</p>
                <div class="d-flex justify-content-center">
                    <a class="btn header-btn" href="/what-is-v2g">Learn More</a>
                </div>
            </div>
        </div>

        <div class="grid-item col-sm-11 col-md-6 col-lg-5">
            <div class="form-group">
                <h4>What is the Calculator's Purpose?</h4>
                <p>The Calculator models whether a V2G program would be profitable in your community.<br>It predicts the profitability and energy savings of a local, V2G-capable, residential fleet.</p>
                <div class="d-flex justify-content-center">
                    <a class="btn header-btn" href="/user-guide">User Guide</a>
                    <a class="btn header-btn" href="/project">Use the Calculator</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row description-grid justify-content-center">
        <div class="grid-item col-sm-11 col-md-6 col-lg-6 offset-md-3 offset-lg-0">
            <div class="form-group">
                <h4>How we calculate profitability</h4>
                <p></p>
                <img class="img-fluid" src="/images/profitability.png" alt="Profitability Infographic" />
                <p></p>
                <div class="d-flex justify-content-center">
                    <a class="btn header-btn">Our Methods</a>
                </div>
            </div>
        </div>
    </div>

</main>
<!-- Footer -->
<!--=================================================================================================================-->
<footer>
    <% const year = new Date().getFullYear(); %>
    <address>Copyright &#169; <%= year %> Project DeLorean.</address>
    <address>EPIC Labs</address>
    <address>Santa Clara University</address>
</footer>

</body>
</html>