<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" initial-scale="1" />

    <!-- For favicon -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://www.deloreanenergy.us/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://www.deloreanenergy.us/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="https://www.deloreanenergy.us/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="https://www.deloreanenergy.us/favicon-16x16.png" sizes="16x16" />
    <meta name="application-name" content="DeLorean Energy"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="https://www.deloreanenergy.us/mstile-144x144.png" />

    <!-- Link to remote font -->
    <link rel="stylesheet" href="https://use.typekit.net/ahh6uys.css">

    <link href="sass/jquery-ui.min.css" rel="stylesheet" type="text/css" />

    <!-- All Bootstrap styles and icons are embedded in these stylesheets -->
    <link href="sass/style-<%= user_mode %>.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

    <!-- Import jQuery, PopperJS (For bootstrap effects), Bootstrap's own JS library, jQuery UI (local file -- not remote), and AJAX -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="scripts/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

    <!-- Import Mapbox API -->
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>

    <!-- Import d3JS files -->
    <script src="https://d3js.org/d3.v6.min.js" defer></script>
    <script src="https://d3js.org/d3-scale.v3.min.js" defer></script>
    <script src="https://d3js.org/d3-axis.v1.min.js" defer></script>

    <!-- Import js-Cookie files -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.mjs"></script>

    <!-- Our custom scripts. App = generic functionality -->
    <script src="scripts/app.js" defer></script>

    <title>What is V2G? - DeLorean Energy</title>
</head>
<body>
<!-- Main Navigation -->
<!--================================================================================================================-->
<nav class="navbar navbar-expand-md navbar-<%= user_mode %>">
    <a class="screen-reader-only" href="#whatis">Skip to Content</a>
    <a class="navbar-brand" href="/"><img id="navbar-brand" class="navbar-brand-img" src="images/logo_lg_<%= user_mode %>.png" alt="DeLorean Energy"/></a>

    <button class="navbar-toggler align-item" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="screen-reader-only">Toggle navigation</span>
        <span id="b1" class="bar"></span>
        <span id="b2" class="bar"></span>
        <span id="b3" class="bar"></span>
    </button>

    <div id="collapsibleNavbar" class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link selected-nav" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/project">Project</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
        </ul>
        <div class="style-switch">
            <% if(user_mode !== "dark") { %>
                <button class="btn selected" onclick="switchToLight(this);"><i class="bi bi-sun"></i></button>
                <button class="btn" onclick="switchToDark(this);"><i class="bi bi-moon"></i></button>
            <% } else { %>
                <button class="btn" onclick="switchToLight(this);"><i class="bi bi-sun"></i></button>
                <button class="btn selected" onclick="switchToDark(this);"><i class="bi bi-moon"></i></button>
            <% } %>
        </div>
    </div>
</nav>
<!-- Content (sr-only link jumps here) -->
<!--=================================================================================================================-->
<main id="whatis" class="container-fluid content">

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>What is Vehicle-to-Grid?</h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacinia ultricies ligula eget porta. Duis laoreet gravida eros non condimentum. Quisque pharetra blandit elit ac aliquam. Donec ullamcorper ex convallis, euismod augue sit amet, consectetur tortor. Phasellus nec elit laoreet, dapibus tortor at, iaculis velit. Vestibulum interdum ipsum id blandit aliquet. Fusce lacinia a neque varius imperdiet. Mauris eget suscipit elit. Integer lectus tellus, pharetra et consequat eget, facilisis in elit. Integer quam odio, eleifend ut egestas at, imperdiet ac odio. Nunc molestie et neque et semper. Mauris vulputate mi ac consectetur lobortis. Cras finibus enim neque, ut interdum nulla porttitor eu.
<br>
                Quisque ornare magna id lorem imperdiet, et varius enim luctus. Ut ac justo in mi sollicitudin mollis. Nullam et purus vitae dui rutrum auctor. Curabitur venenatis massa ante, rhoncus consectetur sapien sagittis at. Sed quis libero gravida, fermentum massa non, efficitur lacus. Donec id dolor sed neque tristique aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt luctus est, et fermentum libero egestas quis. Aliquam luctus sagittis mauris, sit amet feugiat dolor laoreet at. Suspendisse ullamcorper consectetur turpis, nec aliquam nisl condimentum condimentum. Duis eu elit sed ante posuere tempor. Etiam ut volutpat tortor, id fermentum diam. Suspendisse volutpat ligula magna, vel convallis orci ultrices in. Sed non nibh ut odio cursus aliquet. Etiam nec finibus augue. </p>
        </div>
    </div>

</main>
<!-- Footer -->
<!--=================================================================================================================-->
<footer>
    <% const year = new Date().getFullYear(); %>
    <address>Copyright &#169; <%= year %> Project DeLorean.</address>
    <address>EPIC Labs</address>
    <address>Santa Clara University</address>
</footer>

</body>
</html>